.szoveg, .szoveg2, .szoveg3 {
    border: 0 solid black;
    border-radius: 25px;
    text-align: center;
    font-family: 'Times New Roman';
    background-color: rgb(16, 123, 131);
    max-width: 1000px;
    text-align: justify;
    letter-spacing: 1.4px;
    word-spacing: 1.4px;
    hyphens: auto;
    text-justify: inter-word;
    padding: 12px;
    margin: 20px;
}

.szoveg {
    display: block;
    justify-content: flex-end;
}

.szoveg2 {
    float: right;
    display: block;
    justify-content: flex-end;
}

.szoveg3 {
    float: left;
    display: block; /* Changed from flex to block */
}

body {
    color: black;
}

img {
    float: right;
    border-radius: 40px;
    padding: 10px;
}