.navbar-brand{
    font-weight: 500;
    color: rgb(14, 177, 68);
    font-size: 24px;
    transition: 0.3s color;
}


.navbar-toggler{
    border: none;
font-size: 1.25rem;
}
.navbar-toggler:focus,.btn-close {
    box-shadow: none;
    outline: none;
}
.nav-link{
    color: #666777;
    font-weight: 500;
    position: relative;
}
.nav-link:hover,.nav-link.acive{
    color: #000;
}
@media ( min-width:991px){
.nav-link::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #009970;
    visibility: hidden;
    transition: 0.3s ease-in-out;
}
.nav-link:hover:before, .nav-link.active::before{
    width: 100%;
    visibility: visible;
}

.alma{
    background-color: cadetblue;
}
.nav-item a:hover{
    color: aqua;
    background-color: rgb(56, 100, 102);
    border: 1px solid black;
    text-align: center;
}
.nav-link{
    font-size: larger;
}
.container-fluid{
    background-color: rgb(35, 85, 87);
    height: 60px;
}
}
.rolunk{
    background-color: blue;
    background-image: url(képek/hatter.jpg)
}
.anya{
    background-image: url(képek/hatter.jpg);
}
.h6{
    color: white;
}
.kacsa{
    margin: 100px;
}