body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #00000067;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-size: 1.8em;
}

nav {
    background-color: #444;
    overflow: hidden;
}

nav a {
    color: rgb(245, 240, 240);
    float: left;
    padding: 30px 20px;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: #555555;
    color: rgb(255, 255, 255);
}

section {
    padding: 20px;
    margin: 10px;
    background-color: white;
    border-radius: 8px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}