h4{
    text-align: center;
    font-weight: bold;
    text-decoration: underline red;
    color: silver;
}

h6{
    color: dimgray;
}

b{
    font-size: 1.1em;
}

body{
    background-image: url(karrier\ háttér.png);
}