h4{
    text-align: center;
    font-weight: bold;
    text-decoration: underline red;
    color: black;
}

h6{
    color: black;
}

b{
    font-size: 1.1em;
}

.szövegdoboz{
    border: 0.5px solid black;
    border-radius: 25px;
    text-align: center;
    font-family: 'Times New Roman';
}

